$key-width: 4rem;
$key-gap: 5px;

$middle-key-width: 5vw;
$small-key-width: 4vw;

$main-color: rgba(109, 125, 218, 0.911);
$secondary-color: rgba(174, 219, 90, 0.911);

$NORMAL_SCREEN: 1280px;
$MIDDLE_SCREEN: 768px;
