.header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
    text-align: center;
    color: white;

    @media screen and (max-width: $MIDDLE_SCREEN) {
        font-size: 2rem;
    }
}