* {
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(166,166,222,1) 35%, rgba(36,36,130,1) 100%);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    padding-top: 60px;

    @media screen and (max-width: $MIDDLE_SCREEN) {
        padding-top: 30px;
    }
}